:root {
    --jetBlack: #050505;
    --greyOne: #1F1F1F;
    --greyTwo: #2D2D2D;
    --greyThree: #3A3A3A;
    --greyFour: #757575;
    --greyFive: #E9E9E9;
    --greySix: #F4F4F4;
    --white: #FFFFFF;
    --purple: #A445ED;
    --red: #FF5252;
}